body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */
p {
    padding-bottom: 12px;
}
h1, h2, h3 {
    font-weight: 400;
}
h1 {
    font-size: 32px;
    padding-bottom: 0px;
}
h2 {
    font-size: 28px;
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
}
h3 {
    font-size: 20px;
    padding-bottom: 0px;
}
#header {
    margin-bottom: 32px;
    text-align: center;
}
#footer {
    margin-top: 48px;
    text-align: center;
}
/* END */
